<div class="side-custom">
{% if site.menu %}
<ul id="sidemenu" class="sidemenu">
  {% for name_path in site.menu %}
    {% assign name = name_path[0] %}
    {% assign path = name_path[1] %}
    {% assign itemName = name | downcase %}
    <li class="side-menu-item" id="side-menu-item-list">
      <a id="side-menu-item" href="{{ path | relative_url }}" rel="section">
        {{ __.menu[name] }}
      </a>
         {% for post in site.categories[name] %}
            {% if post.tags %}
               {% assign tag_list = tag_list | concat: post.tags | uniq %}
            {% endif %}
         {% endfor %}
         {% if site.categories[name] %}
         <ul class="side-dropdown-content" >
         {% for tag in tag_list %}
            {% assign tag_url_encode = tag | url_encode | replace: '+', '%20' %}
                  <li class="side-dropdown-item">
                     <a id="side-dropdown-item" href="{{ '/tag/#/' | relative_url | append: tag_url_encode }}">{{ tag }}</a>
                  </li>      
         {% endfor %}   
         </ul> 
         {% endif%}
    </li>
  {% endfor %}
</ul>
{% endif %}
</div>